<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a id="aruga">あるが班</a>
    <a id="una">うな班</a>
    <a id="yuruyuru">ゆるゆる班</a>
    <a id="michan">みーちゃん班</a>
    <a id="emily">エミリー班</a>
    <a id="igaryo">いがりょう班</a>
    <a id="lemon">れもん班</a>
    <a id="chanpon">ちゃんぽん班</a>
    <a id="rokuura">ろくうら班</a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/choose_group.js"></script>
  </body>
</html>